body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; 
    color: #333333;
}

header {
    display: flex;
    background-color: rgb(255, 209, 229);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerLeft {
    flex: 10%
}

.headerLeft img {
    margin-left: 60px;
    width: calc(100% - 60px);
    height: auto;
}

.headerRight {
    flex: 90%;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333333; 
}

header h3 {
    margin: 0;
    color: #333333; 
}

header p {
    margin: 5px 0 10px;
    color: #777777; 
    font-size: 14px;
}

nav a {
    text-decoration: none;
    color: #009933; 
    margin: 0 10px;
}

.search-section {
    background-color: #ffe6f2;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="number"]:focus,
.form-group select:focus {
    border-color: #ff69b4;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#apply-button {
    background-color: #ff69b4;
    color: white;
}

#apply-button:hover {
    background-color: #ff85c1;
}

#reset-button {
    background-color: #ddd;
    color: #333;
}

#reset-button:hover {
    background-color: #ccc;
}

.search-section label {
    font-weight: bold;
}

.products-section {
    padding: 20px;
    margin: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    background-color: #ffffff; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc((100% - 60px)/4);
    box-sizing: border-box;
    margin-left: 10px; 
    margin-right: 10px;
    height: 400px;
    margin-bottom: 20px;
}

.product-card:nth-child(4n-3){
    margin-left: 0;
}

.product-card:nth-child(4n){
    margin-right: 0;
}

.product-card img {
    max-width: 100%;
    height: 200px; 
    object-fit: cover; 
}


.product-card h3 {
    margin: 0 0 10px;
    color: #333333; 
}

.product-card p {
    margin: 0 0 10px;
    color: #777777; 
}

.product-card .price {
    color: #ff69b4; 
    font-size: 18px;
    margin: 10px 0;
}

.not-found {
    font-size: 20px;
    color: #2d2c2c;
    text-align: center;
    margin-top: 20px;
    background-color: #efe7e7;
    padding: 30px;
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

footer {
    background-color: #ffd3e6;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    bottom: 0;
    color: #009933;
}

a:hover {
    color: #ff69b4;
}

input:focus, textarea:focus {
    border: 2px solid #ff69b4; 
    outline: none;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.success {
    color: #009933; 
}

.error {
    color: #ff0000; 
}

footer a:hover {
    text-decoration: underline; 
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
}

.pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #ff69b4;
    color: white;
    border-color: #ff69b4;
}

.pagination a.active {
    background-color: #ff69b4;
    color: white;
    border: 1px solid #ff69b4;
}

#order-form {
    background-color: #ffe6f2;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#order-form h2 {
    margin-top: 0;
    text-align: center;
    color: #ff69b4;
}

#order-form form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#order-form label {
    font-weight: bold;
    color: #333333;
}

#order-form input[type="text"],
#order-form input[type="number"],
#order-form input[type="email"],
#order-form input[type="tel"],
#order-form select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

#order-form input[type="text"]:focus,
#order-form input[type="number"]:focus,
#order-form input[type="email"]:focus,
#order-form input[type="tel"]:focus,
#order-form select:focus {
    border-color: #ff69b4;
}


#order-form .buttons {
    display: flex;
    justify-content: space-between;
}

#order-form button {
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 25%;
}

#order-form button[type="submit"] {
    background-color: #ff69b4;
    color: white;
}

#order-form button[type="submit"]:hover {
    background-color: #ff85c1;
}

#order-form button[onclick="addProductField()"] {
    background-color: #ddd;
    color: #333;
    margin-top: 15px;
}

#order-form button[onclick="addProductField()"]:hover {
    background-color: #ccc;
}


